@model PredictionViewModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Azure Guess Who</h1>
    <p>Can Azure Cognitive Service: Vision guess the right person?</p>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h4>Ellinor Lorraine</h4>
            <ul>
                <li>Age: 8</li>
                <li>Birthdate: 02/24/2011</li>
            </ul>
            <img src="Images/Ellinor.jpg" />
        </div>
        <div class="col-sm-4">
            <h4>Emrey Rae</h4>
            <ul>
                <li>Age: 6</li>
                <li>Birthdate: 03/19/2013</li>
            </ul>
            <img src="Images/Emrey.jpg" />
        </div>
        <div class="col-sm-4">
            <h4>Quinton Paul</h4>
            <ul>
                <li>Age: 2</li>
                <li>Birthdate: 02/24/2017</li>
            </ul>
            <img src="Images/Quinton.jpg" />
        </div>
    </div>
    <div class="row">
        <hr />
        <div class="col-sm">
            <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="PictureUpload">
                <div class="form-group">
                    <div class="col-md-10">
                        <p>Upload A Picture:</p>
                        <input type="file" name="file" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <input type="submit" value="Upload" />
                    </div>
                </div>
            </form>
        </div>
         <div class="col-sm">
            
            @if(Model.PredictionResults.Count > 0){
        <table colspan=10>
            <tr>
                <th>Child</th>
                <th>Probability</th>
            </tr>
            @foreach (var r in Model.PredictionResults)
            {
                <tr>
                    <td>@r.TagName</td>
                    <td>@r.Probability</td>
                </tr>
            }
        </table>
            }
   </div>
    </div>
</div>
